<nav id="header" class="header block py-5 border-b-2">
    <div class="container">
      <div class="flex items-center justify-between">
        <a href="./index.html">
            <img class="logo" src="./assets/images/logo.png" alt="Logo Club">
        </a>
        <ul class="hidden items-center gap-6 lg:flex">
          <li class="block p-1 font-sans text-3xl font-normal leading-normal text-light-gray antialiased">
            <a class="flex items-center hover:text-dark/75" href="./about.html">
              Membres
            </a>
          </li>
          <li class="block p-1 font-sans text-3xl font-normal leading-normal text-light-gray antialiased">
            <a class="flex items-center hover:text-dark/75" href="#">
              Blog
            </a>
          </li>
          <li class="block p-1 font-sans text-3xl font-normal leading-normal text-light-gray antialiased">
            <a class="flex items-center hover:text-dark/75" href="#">
              Pràctica
            </a>
          </li>
          <button type="submit" class="rounded-md border border-blue px-3 py-2 text-md text-blue shadow-sm hover:bg-blue hover:text-light transition duration-150 ease-out">CAT</button>
          
        </ul>
        <button
          class="relative ml-auto h-6 max-h-[60px] w-6 max-w-[60px] rounded-lg text-center text-lg font-medium uppercase text-blue-gray-500 transition-all hover:bg-transparent focus:bg-transparent active:bg-transparent disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none lg:hidden">
          <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 transform">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              stroke="currentColor"
              strokeWidth="2"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M4 6h16M4 12h16M4 18h16"
              ></path>
            </svg>
          </span>
        </button>
      </div>

      <!-- Menu navegacion -->
      <div class="block lg:hidden flex items-center justify-end">
        <ul class="items-center gap-6 lg:flex">
          <li class="block p-1 font-sans text-3xl font-normal leading-normal text-light-gray antialiased">
            <a class="flex items-center hover:text-dark/75" href="./about.html">
              Membres
            </a>
          </li>
          <li class="block p-1 font-sans text-3xl font-normal leading-normal text-light-gray antialiased">
            <a class="flex items-center hover:text-dark/75" href="#">
              Blog
            </a>
          </li>
          <li class="block p-1 font-sans text-3xl font-normal leading-normal text-light-gray antialiased">
            <a class="flex items-center hover:text-dark/75" href="#">
              Pràctica
            </a>
          </li>
          <button type="submit" class="rounded-md border border-blue px-3 py-2 text-md text-blue shadow-sm hover:bg-blue hover:text-light transition duration-150 ease-out">CAT</button> 
        </ul>
      </div>
    </div>
  </nav>