@use "sass:color";

@font-face {
  font-family: Aino;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AinoWeb-Regular.woff") format('woff'),
}

@font-face {
  font-family: Aino;
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/AinoWeb-Bold.woff") format('woff'),
}

@font-face {
  font-family: Aino;
  font-style: bold;
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/AinoWeb-BoldItalic.woff") format('woff'),
}

@font-face {
  font-family: Aino;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/AinoWeb-Italic.woff") format('woff'),
}

$fontFamilyReg: "Aino", sans-serif;
$fontFamilyBold: "Aino", sans-serif;


/*********
* Custom utilities
**********/

.container {
  width: 90%;
  max-width: 1020px;
  margin: 0 auto;
}

/************
* Media queries 
*************/

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;
